.column {
  min-width: 25%;
  padding: 10px;
}
h4 {
  margin: 0px;
}

.containerFicha {
  width: 100%;
}

.std-form {
  max-width: 100% !important;
}

// Inicio CSS Abas
.abas {
  position: relative;
  display: flex;
  justify-content: center;
}
.aba {
  display: inline;
}
.aba > button {
  float: left;
  padding: 0.5em 1em;
  background: lightgrey;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.aba:not(:target) button {
  border-bottom: 0 none;
}

button:focus {
  transition-duration: 0.4s;
  outline: none !important;
}

.btnAba:hover {
  background: #a8a8a8 !important;
  box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

.conteudoAbas {
  display: none;
  justify-content: center;
  margin-bottom: 25px;
  width: 100%;
}

#conteudoAba1 {
  display: flex;
}

.column input {
  border-top: none;
  background: border-box;
  border-left: none;
  border-right: none;
  border-bottom-style: dotted;
  outline: none;
  text-align: right !important;
}

#conteudoAba2 .column input {
  max-width: 25% !important;
  text-align: right !important;
}
#conteudoAba3 .column input {
  max-width: 25% !important;
  text-align: right !important;
}
#conteudoAba4 .column input {
  max-width: 25% !important;
  text-align: right !important;
}

#conteudoAba5 .column input {
  margin-left: 4px;
  margin-right: 5px;
}

.mat-checkbox {
  margin-left: 3.5px !important;
  margin-right: 3.5px !important;
}

#conteudoAba4 .column {
  max-width: 25% !important;
}

#conteudoAba4 .column .inputAntecedente {
  text-align: left !important;
  max-width: 75% !important;
}

#conteudoAba4 .column input textarea {
  width: 100% !important;
}

textarea {
  width: 100%;
}

.mat-select {
  width: 70% !important;
}

#vitalidade .label {
  text-align: left;
}

#vitalidade input {
  text-align: right;
}

#inputTrilha {
  text-align: center !important;
  margin-bottom: 5px;
}

/* Required input */

/**
 * style input elements that have a required
 * attribute and a focus state
 */
input:required:focus {
  border: 1px solid red;
  outline: none;
}
input:required:after {
  content: "*";
  border: 1px solid red !important;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
input:required:hover {
  opacity: 1;
}

input:required + label {
  color: red;
}

.required label {
  font-weight: bold;
}
.required label:after {
  color: #e32 !important;
  content: " *";
}

.used {
  border-radius: 15px;
}

//Checkboxes
input[type="checkbox"].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type="checkbox"].css-checkbox + label.css-label {
  padding-left: 29px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"].css-checkbox:checked + label.css-label {
  background-position: 0 -24px;
}
label.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_9fd6d38a5406bb47fcea5bdd030065bb.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
//end check normal - begin check blue
input[type="checkbox"].css-checkbox-blue {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type="checkbox"].css-checkbox-blue + label.css-label-blue {
  padding-left: 29px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"].css-checkbox-blue:checked + label.css-label-blue {
  background-position: 0 -24px;
}
label.css-label-blue {
  background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_ee9e70bc58d3e29d6f6536ec08f60305.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
