<h1>{{ title }}</h1>

<!-- <form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
    <mat-form-field>
        <input matInput placeholder="Nome do personagem" required [(ngModel)]="ficha.nome" name="nome">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nome do jogador" required [(ngModel)]="ficha.jogador" name="jogador">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Espécie. Ex: Vampiro" [(ngModel)]="ficha.especie" name="especie">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nome da Crônica" required [(ngModel)]="ficha.cronica" name="cronica">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Natureza do personagem" [(ngModel)]="ficha.natureza" name="natureza"
            alt="Esta é a verdadeira personalidade do seu personagem — quem ele realmente é">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Comportamento do personagem" [(ngModel)]="ficha.comportamento" name="comportamento"
            alt="Esta é a personalidade que o personagem
        apresenta ao mundo">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Clã. Ex: Brujah" required [(ngModel)]="ficha.cla" name="cla">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Geração. Ex: 13" [(ngModel)]="ficha.geracao" name="geracao" type="number" step="1"
            mask="09">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Senhor" [(ngModel)]="ficha.senhor" name="senhor"
            alt="Nome do vampiro que te abraçou">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Conceito. Ex: Justiceiro Maluco" [(ngModel)]="ficha.conceito" name="conceito"
            alt="Um esboço de uma ou duas palavras sobre o que o personagem era antes de ser abraçado">
    </mat-form-field> -->

<!-- <mat-form-field>
        <textarea matInput placeholder="Atributo (id)" [(ngModel)]="ficha.atributo" rows="4" name="atributo"></textarea>
    </mat-form-field> -->

<!-- <mat-form-field> -->
<!--
           O <mat-select> lista os dados de uma entidade para que seja possível
           associar um deles relacionado a outra entidade.
           No cabeçalho do <mat-select> colocamos a entidade que é o DESTINO
           do relacionamento (a entidade à qual pertencem os dados do formulário).
        -->
<!-- <mat-select placeholder="Atributo" [(ngModel)]="ficha.atributo" name="atributo"> -->

<!--
              No <mat-option> colocamos a entidade relacionada (aquela cujos dados
              serão listados).
              No atributo [value], será colocado sempre o _id da entidade relacionada.
              Entre {{ }}, colocamos o que queremos que o usuário veja na listagem.
              Quando o usuário fizer a seleção, o _id da entidade relacionada será
              atribuído ao atributo indicado no ngModel da entidade de destino.
           -->
<!-- <mat-option *ngFor="let atributo of atributos" [value]="atributo._id">
                {{ atributo.identificador }}
            </mat-option>
        </mat-select>
    </mat-form-field> -->

<!-- <mat-form-field>
        <textarea matInput placeholder="Habilidades (id)" [(ngModel)]="ficha.habilidade" rows="4"
            name="habilidade"></textarea>
    </mat-form-field> -->

<!-- <mat-form-field>
        <mat-select placeholder="Habilidade" [(ngModel)]="ficha.habilidade" name="habilidade">
            <mat-option *ngFor="let habilidade of habilidades" [value]="habilidade._id">
                {{ habilidade.identificador }}
            </mat-option>
        </mat-select>
    </mat-form-field> -->

<!-- <mat-form-field>
        <textarea matInput placeholder="Detalhes (id)" [(ngModel)]="ficha.detalhe" rows="4" name="detalhe"></textarea>
    </mat-form-field> -->

<!-- <mat-form-field>
        <mat-select placeholder="Detalhes" [(ngModel)]="ficha.detalhe" name="detalhe">
            <mat-option *ngFor="let detalhe of detalhes" [value]="detalhe._id">
                {{ detalhe.identificador }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">
                Salvar
            </button>
            <button mat-raised-button type="button" (click)="voltar(f)">
                Voltar
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

</form> -->


<div class="containerFicha">
    <!-- Menu de Abas -->
    <ul class="abas">
        <li class="aba" id="aba-1">
            <button class="btnAba" onclick="abaClick('aba1','conteudoAba1')" id="aba1"
                style="background: white;">Principal</button>
        </li>
        <li class="aba" id="aba-2">
            <button class="btnAba" onclick="abaClick('aba2','conteudoAba2')" id="aba2">Atributos</button>
        </li>
        <li class="aba" id="aba-3">
            <button class="btnAba" onclick="abaClick('aba3','conteudoAba3')" id="aba3">Habilidades</button>
        </li>
        <li class="aba" id="aba-4">
            <button class="btnAba" onclick="abaClick('aba4','conteudoAba4')" id="aba4">Vantagens</button>
        </li>
        <li class="aba" id="aba-5">
            <button class="btnAba" onclick="abaClick('aba5','conteudoAba5')" id="aba5">Extra</button>
        </li>
    </ul>

    <form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
        <div class="conteudoAbas" id="conteudoAba1">
            <div class="column" style="text-align: left;">
                <div>
                    <label>Nome:</label>
                    <input matInput required [(ngModel)]="ficha.nome" name="nome">
                </div>
                <div>
                    <label>Jogador:</label>
                    <input matInput required [(ngModel)]="ficha.jogador" name="jogador">
                </div>
                <div>
                    <label>Crônica:</label>
                    <input matInput required [(ngModel)]="ficha.cronica" name="cronica">
                </div>
                <div>
                    <label>Espécie:</label>
                    <input matInput placeholder="Ex: Vampiro" [(ngModel)]="ficha.especie" name="especie">
                </div>
            </div>
            <div class="column" style="text-align: center;">
                <div>
                    <label>Natureza:</label>
                    <input matInput [(ngModel)]="ficha.natureza" name="natureza"
                        alt="Esta é a verdadeira personalidade do seu personagem — quem ele realmente é">
                </div>

                <div><label>Comportamento:</label>
                    <input matInput [(ngModel)]="ficha.comportamento" name="comportamento"
                        alt="Esta é a personalidade que o personagem apresenta ao mundo">
                </div>
                <div>
                    <label>Clã:</label>
                    <input matInput placeholder="Ex: Brujah" required [(ngModel)]="ficha.cla" name="cla">
                </div>
                <!-- <div>
                    <label>Upload Image</label>
                    <input type="file" id="uploadImg" (change)="onSelectedFile($event)" [(ngModel)]="ficha.imagem" name="image"/>
                </div> -->
            </div>
            <div class="column" style="text-align: right;">
                <div>
                    <label>Geração:</label>
                    <input matInput placeholder="Ex: 13" [(ngModel)]="ficha.geracao" name="geracao" type="number"
                        step="1">
                </div>
                <div>
                    <label>Senhor:</label>
                    <input matInput [(ngModel)]="ficha.senhor" name="senhor" alt="Nome do vampiro que te abraçou">
                </div>
                <div>
                    <label>Conceito:</label>
                    <input matInput placeholder="Ex: Justiceiro Maluco" [(ngModel)]="ficha.conceito" name="conceito"
                        alt="Um esboço de uma ou duas palavras sobre o que o personagem era antes de ser abraçado">
                </div>
            </div>
        </div>


        <div class="conteudoAbas" id="conteudoAba2">
            <div class="column" style="text-align: left;">
                <div style="width: 100%;">
                    <h3>Físicos</h3>
                </div>
                <div>
                    <label>Força</label>
                    <input matInput placeholder="0" [(ngModel)]="ficha.fis_forca" name="fis_forca" type="number"
                        step="1">
                </div>
                <div>
                    <label>Destreza</label>
                    <input matInput placeholder="0" [(ngModel)]="ficha.fis_destreza" name="fis_destreza" type="number"
                        step="1">
                </div>
                <div>
                    <label>Vigor</label>
                    <input matInput placeholder="0" [(ngModel)]="ficha.fis_vigor" name="fis_vigor" type="number"
                        step="1">
                </div>
            </div>
            <div class="column" style="text-align: center;">
                <div style="width: 100%;">
                    <h3>Sociais</h3>
                </div>
                <div>
                    <label>Carisma</label>
                    <input matInput placeholder="0" [(ngModel)]="ficha.soc_carisma" name="soc_carisma" type="number"
                        step="1">
                </div>
                <div>
                    <label>Manipulação</label>
                    <input matInput placeholder="0" [(ngModel)]="ficha.soc_manipulacao" name="soc_manipulacao"
                        type="number" step="1">
                </div>
                <div>
                    <label>Aparência</label>
                    <input matInput placeholder="0" [(ngModel)]="ficha.soc_aparencia" name="soc_aparencia" type="number"
                        step="1">
                </div>
            </div>
            <div class="column" style="text-align: right;">
                <div style="width: 100%;">
                    <h3>Mentais</h3>
                </div>
                <div>
                    <label>Percepção</label>
                    <input matInput placeholder="0" [(ngModel)]="ficha.men_percepcao" name="men_percepcao" type="number"
                        step="1">
                </div>
                <div>
                    <label>Inteligência</label>
                    <input matInput placeholder="0" [(ngModel)]="ficha.men_inteligencia" name="men_inteligencia"
                        type="number" step="1">
                </div>
                <div>
                    <label>Raciocínio</label>
                    <input matInput placeholder="0" [(ngModel)]="ficha.men_raciocinio" name="men_raciocinio"
                        type="number" step="1">
                </div>
            </div>
        </div>



        <div class="conteudoAbas" id="conteudoAba3">
            <div class="column" style="text-align: left;">
                <div style="width: 100%;">
                    <h3>Talentos</h3>
                </div>
                <div>
                    <label>Prontidão</label>
                    <input matInput [(ngModel)]="ficha.prontidao" name="prontidao" type="number" step="1">
                </div>
                <div>
                    <label>Esportes</label>
                    <input matInput [(ngModel)]="ficha.esportes" name="esportes" type="number" step="1">
                </div>
                <div>
                    <label>Briga</label>
                    <input matInput [(ngModel)]="ficha.briga" name="briga" type="number" step="1">
                </div>
                <div>
                    <label>Esquiva</label>
                    <input matInput [(ngModel)]="ficha.esquiva" name="esquiva" type="number" step="1">
                </div>
                <div>
                    <label>Empatia</label>
                    <input matInput [(ngModel)]="ficha.empatia" name="empatia" type="number" step="1">
                </div>
                <div>
                    <label>Expressão</label>
                    <input matInput [(ngModel)]="ficha.expressao" name="expressao" type="number" step="1">
                </div>
                <div>
                    <label>Intimidação</label>
                    <input matInput [(ngModel)]="ficha.intimidacao" name="intimidacao" type="number" step="1">
                </div>
                <div>
                    <label>Liderança</label>
                    <input matInput [(ngModel)]="ficha.lideranca" name="lideranca" type="number" step="1">
                </div>
                <div>
                    <label>Manha</label>
                    <input matInput [(ngModel)]="ficha.manha" name="manha" type="number" step="1">
                </div>
                <div>
                    <label>Lábia</label>
                    <input matInput [(ngModel)]="ficha.labia" name="labia" type="number" step="1">
                </div>
            </div>
            <div class="column" style="text-align: center;">
                <div style="width: 100%;">
                    <h3>Perícia</h3>
                </div>
                <div>
                    <label>Empatia c/ Animais</label>
                    <input matInput [(ngModel)]="ficha.empatia_animais" name="empatia_animais" type="number" step="1">
                </div>
                <div>
                    <label>Ofícios</label>
                    <input matInput [(ngModel)]="ficha.oficios" name="oficios" type="number" step="1">
                </div>
                <div>
                    <label>Condução</label>
                    <input matInput [(ngModel)]="ficha.conducao" name="conducao" type="number" step="1">
                </div>
                <div>
                    <label>Etiqueta</label>
                    <input matInput [(ngModel)]="ficha.etiqueta" name="etiqueta" type="number" step="1">
                </div>
                <div>
                    <label>Arma de Fogo</label>
                    <input matInput [(ngModel)]="ficha.arma_fogo" name="arma_fogo" type="number" step="1">
                </div>
                <div>
                    <label>Arma Branca</label>
                    <input matInput [(ngModel)]="ficha.arma_branca" name="arma_branca" type="number" step="1">
                </div>
                <div>
                    <label>Performance</label>
                    <input matInput [(ngModel)]="ficha.performance" name="performance" type="number" step="1">
                </div>
                <div>
                    <label>Segurança</label>
                    <input matInput [(ngModel)]="ficha.seguranca" name="seguranca" type="number" step="1">
                </div>
                <div>
                    <label>Furtividade</label>
                    <input matInput [(ngModel)]="ficha.furtividade" name="furtividade" type="number" step="1">
                </div>
                <div>
                    <label>Sobrevivência</label>
                    <input matInput [(ngModel)]="ficha.sobrevivencia" name="sobrevivencia" type="number" step="1">
                </div>
            </div>
            <div class="column" style="text-align: right;">
                <div style="width: 100%;">
                    <h3>Conhecimento</h3>
                </div>
                <div>
                    <label>Acadêmico</label>
                    <input matInput [(ngModel)]="ficha.academicos" name="academicos" type="number" step="1">
                </div>
                <div>
                    <label>Computador</label>
                    <input matInput [(ngModel)]="ficha.computador" name="computador" type="number" step="1">
                </div>
                <div>
                    <label>Finanças</label>
                    <input matInput [(ngModel)]="ficha.financas" name="financas" type="number" step="1">
                </div>
                <div>
                    <label>Investigação</label>
                    <input matInput [(ngModel)]="ficha.investigacao" name="investigacao" type="number" step="1">
                </div>
                <div>
                    <label>Direito</label>
                    <input matInput [(ngModel)]="ficha.direito" name="direito" type="number" step="1">
                </div>
                <div>
                    <label>Linguística</label>
                    <input matInput [(ngModel)]="ficha.linguistica" name="linguistica" type="number" step="1">
                </div>
                <div>
                    <label>Medicina</label>
                    <input matInput [(ngModel)]="ficha.medicina" name="medicina" type="number" step="1">
                </div>
                <div>
                    <label>Ocultismo</label>
                    <input matInput [(ngModel)]="ficha.ocultismo" name="ocultismo" type="number" step="1">
                </div>
                <div>
                    <label>Política</label>
                    <input matInput [(ngModel)]="ficha.politica" name="politica" type="number" step="1">
                </div>
                <div>
                    <label>Ciência</label>
                    <input matInput [(ngModel)]="ficha.ciencias" name="ciencias" type="number" step="1">
                </div>
            </div>
        </div>


        <div class="conteudoAbas" id="conteudoAba4">
            <div class="column" style="text-align: left;">
                <div style="width: 100%;">
                    <h3>Antecedentes</h3>
                </div>
                <div>
                    <label id="antecedente01"></label>
                    <input matInput [(ngModel)]="ficha.antecedente01" name="antecedente01" placeholder="Antecedente"
                        class="inputAntecedente">
                    <input matInput type="number" [(ngModel)]="ficha.nivel_antecedente01" name="nivel_antecedente01"
                        placeholder="Nível" step="1">
                </div>
                <div>
                    <label id="antecedente02"></label>
                    <input matInput [(ngModel)]="ficha.antecedente02" name="antecedente02" placeholder="Antecedente"
                        class="inputAntecedente">
                    <input matInput type="number" [(ngModel)]="ficha.nivel_antecedente02" name="nivel_antecedente02"
                        placeholder="Nível" step="1">
                </div>
                <div>
                    <label id="antecedente03"></label>
                    <input matInput [(ngModel)]="ficha.antecedente03" name="antecedente03" placeholder="Antecedente"
                        class="inputAntecedente">
                    <input matInput type="number" [(ngModel)]="ficha.nivel_antecedente03" name="nivel_antecedente03"
                        placeholder="Nível" step="1">
                </div>
                <div>
                    <label id="antecedente04"></label>
                    <input matInput [(ngModel)]="ficha.antecedente04" name="antecedente04" placeholder="Antecedente"
                        class="inputAntecedente">
                    <input matInput type="number" [(ngModel)]="ficha.nivel_antecedente04" name="nivel_antecedente04"
                        placeholder="Nível" step="1">
                </div>
                <div>
                    <label id="antecedente05"></label>
                    <input matInput [(ngModel)]="ficha.antecedente05" name="antecedente05" placeholder="Antecedente"
                        class="inputAntecedente">
                    <input matInput type="number" [(ngModel)]="ficha.nivel_antecedente05" name="nivel_antecedente05"
                        placeholder="Nível" step="1">
                </div>
            </div>
            <div class="column" style="text-align: center;">
                <div style="width: 100%;">
                    <h3>Disciplinas</h3>
                </div>
                <div>
                    <mat-select placeholder="Disciplina 1" [(ngModel)]="ficha.disciplina01" name="disciplina01">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.value">
                            {{disciplina.viewValue}}
                        </mat-option>
                    </mat-select>
                    <input matInput type="number" [(ngModel)]="ficha.nivel_disciplina01" name="nivel_disciplina01"
                        placeholder="Nível" step="1">
                </div>
                <div>
                    <mat-select placeholder="Disciplina 2" [(ngModel)]="ficha.disciplina02" name="disciplina02">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.value">
                            {{disciplina.viewValue}}
                        </mat-option>
                    </mat-select>
                    <input matInput type="number" [(ngModel)]="ficha.nivel_disciplina02" name="nivel_disciplina02"
                        placeholder="Nível" step="1">
                </div>
                <div>
                    <mat-select placeholder="Disciplina 3" [(ngModel)]="ficha.disciplina03" name="disciplina03">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.value">
                            {{disciplina.viewValue}}
                        </mat-option>
                    </mat-select>
                    <input matInput type="number" [(ngModel)]="ficha.nivel_disciplina03" name="nivel_disciplina03"
                        placeholder="Nível" step="1">
                </div>
                <div>
                    <mat-select placeholder="Disciplina 4" [(ngModel)]="ficha.disciplina04" name="disciplina04">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.value">
                            {{disciplina.viewValue}}
                        </mat-option>
                    </mat-select>
                    <input matInput type="number" [(ngModel)]="ficha.nivel_disciplina04" name="nivel_disciplina04"
                        placeholder="Nível" step="1">
                </div>
                <div>
                    <mat-select placeholder="Disciplina 5" [(ngModel)]="ficha.disciplina05" name="disciplina05">
                        <mat-option value="Disciplina 5"></mat-option>
                        <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.value">
                            {{disciplina.viewValue}}
                        </mat-option>
                    </mat-select>
                    <input matInput type="number" [(ngModel)]="ficha.nivel_disciplina05" name="nivel_disciplina05"
                        placeholder="Nível" step="1">
                </div>
            </div>

            <div class="column" style="text-align: right;">
                <div style="width: 100%;">
                    <h3>Virtudes</h3>
                </div>
                <div>
                    <label><small>Consciência <br> Convicção</small></label>
                    <input matInput type="number" [(ngModel)]="ficha.consciencia_conviccao" name="consciencia_conviccao"
                        type="number" step="1">
                </div>
                <br>
                <div>
                    <label><small>Autocontrole <br> Instintos</small></label>
                    <input matInput type="number" [(ngModel)]="ficha.autocontrole_instinto" name="autocontrole_instinto"
                        type="number" step="1">
                </div>
                <div>
                    <label>Coragem</label>
                    <input matInput type="number" [(ngModel)]="ficha.coragem" name="coragem" type="number" step="1">
                </div>
            </div>
        </div>


        <div class="conteudoAbas" id="conteudoAba5">
            <div class="column" style="text-align: left;">
                <div style="width: 100%;">
                    <h3>Qualidades/Defeitos</h3>
                </div>
                <div>
                    <textarea matInput placeholder="Qualidades/Defeitos" rows="5" [(ngModel)]="ficha.qualidades"
                        name="qualidades"></textarea>
                </div>
                <div>
                    <textarea matInput placeholder="Fraquezas do personagem" rows="4" [(ngModel)]="ficha.fraqueza"
                        name="fraqueza"></textarea>
                </div>
            </div>

            <div class="column" style="text-align: center;">
                <div style="width: 100%;">
                    <h3>Humanidade/Trilha</h3>
                </div>
                <div>
                    <input matInput [(ngModel)]="ficha.trilha" name="trilha" placeholder="Humanidade" id="inputTrilha">
                    <br>
                    <span></span> <input type="radio" name="attr_Other1" value="1" />
                    <span></span> <input type="radio" name="attr_Other1" value="2" />
                    <span></span> <input type="radio" name="attr_Other1" value="3" />
                    <span></span> <input type="radio" name="attr_Other1" value="4" />
                    <span></span> <input type="radio" name="attr_Other1" value="5" />
                    <span></span> <input type="radio" name="attr_Other1" value="6" />
                    <span></span> <input type="radio" name="attr_Other1" value="7" />
                    <span></span> <input type="radio" name="attr_Other1" value="8" />
                    <span></span> <input type="radio" name="attr_Other1" value="9" />
                    <span></span> <input type="radio" name="attr_Other1" value="10" />
                </div>

                <h3>Força de Vontade</h3>
                <div>
                    <input type="radio" name="forca_vontade_nivel" value="1" />
                    <span></span> <input type="radio" name="forca_vontade_nivel" value="2" />
                    <span></span> <input type="radio" name="forca_vontade_nivel" value="3" />
                    <span></span> <input type="radio" name="forca_vontade_nivel" value="4" />
                    <span></span> <input type="radio" name="forca_vontade_nivel" value="5" checked="checked" />
                    <span></span> <input type="radio" name="forca_vontade_nivel" value="6" />
                    <span></span> <input type="radio" name="forca_vontade_nivel" value="7" />
                    <span></span> <input type="radio" name="forca_vontade_nivel" value="8" />
                    <span></span> <input type="radio" name="forca_vontade_nivel" value="9" />
                    <span></span> <input type="radio" name="forca_vontade_nivel" value="10" />
                </div>

                <div>
                    <mat-checkbox name="forca_vontade_atual" value="1"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="forca_vontade_atual" value="2"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="forca_vontade_atual" value="3"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="forca_vontade_atual" value="4"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="forca_vontade_atual" value="5"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="forca_vontade_atual" value="6"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="forca_vontade_atual" value="7"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="forca_vontade_atual" value="8"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="forca_vontade_atual" value="9"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="forca_vontade_atual" value="10"></mat-checkbox>
                </div>

                <h3>Pontos de Sangue</h3>
                <div>
                    <mat-checkbox name="pontos_sangue_atual" value="1" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="2" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="3" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="4" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="5" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="6" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="7" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="8" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="9" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="10" class=" used"></mat-checkbox>
                    <span></span><br>

                    <mat-checkbox name="pontos_sangue_atual" value="11" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="12" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="13" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="14" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="15" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="16" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="17" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="18" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="19" class=" used"></mat-checkbox>
                    <span></span>
                    <mat-checkbox name="pontos_sangue_atual" value="20" class=" used"></mat-checkbox>
                    <span></span>

                </div>

                <div>
                    <label>Experiência</label>
                    <input matInput type="number" [(ngModel)]="ficha.pontos_experiencia" name="pontos_experiencia"
                        type="number" step="1">
                </div>
            </div>

            <div class="column" style="text-align: right;" id="vitalidade">
                <div style="width: 100%;">
                    <h3>Vitalidade</h3>
                </div>
                <div>
                    <label>Escoriado</label>
                    <select [(ngModel)]="ficha.vitalidade1" name="vitalidade1">
                        <option *ngFor="let vitalidade of vitalidades" [value]="vitalidade.value">
                            {{vitalidade.viewValue}}
                        </option>
                    </select>
                </div>
                <div>
                    <label>Machucado</label>
                    <select [(ngModel)]="ficha.vitalidade2" name="vitalidade2">
                        <option *ngFor="let vitalidade of vitalidades" [value]="vitalidade.value">
                            {{vitalidade.viewValue}}
                        </option>
                    </select>
                </div>
                <div>
                    <label>Ferido</label>
                    <select [(ngModel)]="ficha.vitalidade3" name="vitalidade3">
                        <option *ngFor="let vitalidade of vitalidades" [value]="vitalidade.value">
                            {{vitalidade.viewValue}}
                        </option>
                    </select>
                </div>
                <div>
                    <label>Ferido Gravemente</label>
                    <select [(ngModel)]="ficha.vitalidade4" name="vitalidade4">
                        <option *ngFor="let vitalidade of vitalidades" [value]="vitalidade.value">
                            {{vitalidade.viewValue}}
                        </option>
                    </select>
                </div>
                <div>
                    <label>Espancado</label>
                    <select [(ngModel)]="ficha.vitalidade5" name="vitalidade5">
                        <option *ngFor="let vitalidade of vitalidades" [value]="vitalidade.value">
                            {{vitalidade.viewValue}}
                        </option>
                    </select>
                </div>
                <div>
                    <label>Aleijado</label>
                    <select [(ngModel)]="ficha.vitalidade6" name="vitalidade6">
                        <option *ngFor="let vitalidade of vitalidades" [value]="vitalidade.value">
                            {{vitalidade.viewValue}}
                        </option>
                    </select>
                </div>
                <div>
                    <label>Incapacitado</label>
                    <select [(ngModel)]="ficha.vitalidade7" name="vitalidade7">
                        <option *ngFor="let vitalidade of vitalidades" [value]="vitalidade.value">
                            {{vitalidade.viewValue}}
                        </option>
                    </select>
                </div>

            </div>
        </div>



        <mat-toolbar class="form-buttons">
            <mat-toolbar-row>
                <button mat-raised-button type="submit" color="accent">
                    Salvar
                </button>
                <button mat-raised-button type="button" (click)="voltar(f)">
                    Voltar
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </form>
</div>