<div id="containerHome">
    <div>
        <div id="welcome">
            <h1><strong>Bem vindo ao Escudo do Mestre!</strong></h1>
        </div>
        <div id="intro">
            <p>Aqui você encontra diversas ferramentas para auxiliar sua partida de RPG presencial, focadas para o
                sistema Vampiro: a Máscara - 3ª Edição.</p>
            <p>Criado por Paulo Matos, aluno do curso de Análise e Desenvolvimento de Sistemas da Fatec Franca - Thomaz
                Novelino, este sistema é o resultado de um Trabalho de Graduação.</p>
        </div>
        <div>
            <hr>
            <h3>Acesse as ferramentas pelo menu lateral no canto superior esquerdo!</h3>
        </div>
        <div>
            <hr>
            <h5>Encontre abaixo alguns tutoriais de como utilizar as ferramentas</h5>
        </div>
        <div id="tutorialRow">
            <div id="tutorialCard">
                <h3>Fichas</h3>
                <p>As fichas de personagem permitem acesso rápido as informações de cada personagem sem necessidade de
                    carregar papéis para todos os lados. Veja como utilizar no vídeo abaixo</p>
                <iframe width="400px" height="225"
                    src="https://www.youtube-nocookie.com/embed/GlMRVwQzRdA?playlist=PLx6-JmQNFdiylYNtxCXA4KMAYDBzcaAcs&rel=0&modestbranding=1&iv_load_policy=3&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation allow-presentation"></iframe>
            </div>
            <div id="tutorialCard">
                <h3>Livros</h3>
                <p>Os livros da aventura são uma forma dinâmica de contar ou relembrar os jogadores uma parte escrita da
                    aventura, permitindo diversas configurações, numa pré-visualização incrível. Veja como utilizar.</p>
                <iframe width="400px" height="225"
                    src="https://www.youtube-nocookie.com/embed/oYcLjFi7IIs?rel=0&modestbranding=1&iv_load_policy=3&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation allow-presentation"></iframe>
            </div>
        </div>
        <div id="tutorialRow">
            <div id="tutorialCard">
                <h3>Música</h3>
                <p>Nenhuma partida de RPG está realmente completa sem efeitos sonoros, não é mesmo? Veja como utilizar
                    esta ferramenta incrível que é o Tabletop Áudio no vídeo abaixo. E não tem problema se você não fala
                    inglês, o vídeo auxilia até mesmo aqueles que não sabem que o book está on the table.</p>
                <iframe width="400px" height="225"
                    src="https://www.youtube-nocookie.com/embed/tgD0ijdMC5c?rel=0&modestbranding=1&iv_load_policy=3&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation allow-presentation"></iframe>
            </div>
            <div id="tutorialCard">
                <h3>Mapa</h3>
                <p>O mapa da aventura é a tela que mais será visualizada pelos jogadores e recomendamos que seja exibida
                    em uma tela externa, pois os ajudará a tomar decisões durante sua jornada. Veja como utilizar o mapa e
                    adicionar marcadores (pontos de interesse no mapa) no vídeo tutorial logo abaixo.</p>
                <iframe width="400px" height="225"
                    src="https://www.youtube-nocookie.com/embed/7H8kON1akoU?rel=0&modestbranding=1&iv_load_policy=3&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation allow-presentation"></iframe>
            </div>
        </div>
    </div>
</div>