<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
    <mat-form-field>
        <input matInput placeholder="ID Habilidades" [(ngModel)]="habilidade._id" name="_id" readonly>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Talentos (id)" [(ngModel)]="habilidade.talentos" rows="3" name="talentos"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Pericias (id)" [(ngModel)]="habilidade.pericias" rows="3" name="pericias"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Conhecimentos (id)" [(ngModel)]="habilidade.conhecimentos" rows="3" name="conhecimentos"></textarea>
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">
                Salvar
            </button>
            <button mat-raised-button type="button" (click)="voltar(f)">
                Voltar
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

</form>