<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
    <table>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Título do Marcador" required [(ngModel)]="habilidade.titulo"
                        name="titulo">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Subtítulo (opcional)" [(ngModel)]="habilidade.subtitulo"
                        name="subtitulo">
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>
                <mat-form-field>
                    <textarea matInput placeholder="Descrição do marcador" required [(ngModel)]="habilidade.descricao"
                        rows="3" name="descricao"></textarea>
                </mat-form-field>
            </td>
            <td>
                <!-- <label>Ícone</label>
                <mat-select placeholder="Ícone" required [(ngModel)]="habilidade.idIcone" name="idIcone"
                    class="panelIconsSelect">
                    <mat-option *ngFor="let icone of icones" [value]="icone.value">
                        <div id="iconList"><img id="iconMarkerList" src="../img/{{icone.viewValue}}"></div>
                    </mat-option>
                </mat-select> -->


                <!-- <mat-form-field appearance="fill">
                    <mat-label>Selecionar Ícone</mat-label>
                    <mat-select required [(ngModel)]="selectedValue" name="idIcone" class="panelIconsSelect"
                        [(value)]="habilidade.idIcone">
                        <mat-option *ngFor="let icone of icones" [value]="icone.value">
                            <div id="iconList"><img id="iconMarkerList" src="../img/{{icone.viewValue}}"></div>
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field>
                    <mat-select placeholder="Ícone" required [(ngModel)]="habilidade.idIcone" name="idIcone"
                        class="panelIconsSelect">
                        <mat-select-trigger *ngFor="let icone of icones">
                            <div *ngIf="icone._id == habilidade.idIcone" id="iconList"><img id="iconMarkerList"
                                    src="../img/{{icone.url}}"></div>
                        </mat-select-trigger>
                        <mat-option *ngFor="let icone of icones" [value]="icone._id">
                            <div id="iconList"><img id="iconMarkerList" src="../img/{{icone.url}}"></div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>


            </td>
        </tr>
        <tr>

            <td>
                <mat-form-field>
                    <input matInput placeholder="Latitude" required [(ngModel)]="habilidade.coordenadaY"
                        name="coordenadaY">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Longitude" required [(ngModel)]="habilidade.coordenadaX"
                        name="coordenadaX">
                </mat-form-field>
            </td>
        </tr>
        <tr></tr>
        <tr>

            <mat-toolbar class="form-buttons">
                <mat-toolbar-row>
                    <button mat-raised-button type="submit" color="accent">
                        Salvar
                    </button>

                    <button mat-raised-button type="button" (click)="voltar(f)">
                        Voltar
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>

        </tr>
    </table>
</form>