<h1>Aprovação de usuários</h1>

<div class="responsiveTable">
    <table mat-table [dataSource]="detalhes" class="mat-elevation-z4">

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-mail </th>
            <td mat-cell *matCellDef="let detalhe"> {{detalhe.email}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Status </th>
            <td mat-cell *matCellDef="let detalhe">
                <div *ngIf="detalhe.ativo; else elseBlock">Ativo</div>
                <ng-template #elseBlock>Desativado</ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="ativar">
            <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Alterar Status </th>
            <td mat-cell *matCellDef="let detalhe">
                <a *ngIf="detalhe.ativo; else elseBlock" mat-raised-button color="accent" (click)="atualizar(detalhe.ativo,detalhe._id)">
                    <mat-icon>person_outline</mat-icon>
                </a>
                <ng-template #elseBlock>
                    <a mat-raised-button color="accent" (click)="atualizar(detalhe.ativo,detalhe._id)">
                        <mat-icon>person_add</mat-icon>
                    </a>
                </ng-template>
                
            </td>
        </ng-container>

        

        <!-- Excluir Column -->
        <ng-container matColumnDef="excluir">
            <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Excluir </th>
            <td mat-cell *matCellDef="let detalhe">
                <button mat-raised-button color="warn" (click)="excluir(detalhe._id)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>