<div class="modal fade show" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="logoInicio">
                <img src="logo.png" id="logoInicial">
            </div>

            <!-- Menu de Abas -->
            <div class="abaLogin">
                <ul class="abasLogin">
                    <li class="aba" id="abaLogin-1">
                        <button id="abaLoginBtn" onclick="trocaAbaLogin('abaLoginBtn','conteudoLogin')">Login</button>
                    </li>
                    <li class="aba" id="abaLogin-2">
                        <button id="abaCadastroBtn"
                            onclick="trocaAbaLogin('abaCadastroBtn','conteudoCadastro')">Cadastro</button>
                    </li>
                </ul>
                <div class="modal-body" id="conteudoLogin">
                    <div id="formLogin">
                        <form #f="ngForm">
                            <fieldset>
                                <div class="label-float">
                                    <input class="input-login" id="emailLogin" [(ngModel)]="detalhe.email"
                                        placeholder="E-mail" name="email">
                                    <label>E-mail</label>
                                </div>
                                <div class="label-float">
                                    <input class="input-login" id="senhaLogin" [(ngModel)]="detalhe.senha" type="password" placeholder="Digite sua senha" name="senha">
                                    <label>Senha</label>
                                </div>
                                <br>
                            </fieldset>
                            <mat-toolbar class="form-buttons">
                                <mat-toolbar-row>
                                    <button class="btnLogin" id="myBtn1" (click)="logar(f)"
                                        style="margin-top: 0px">Entrar</button>
                                </mat-toolbar-row>
                            </mat-toolbar>
                        </form>
                    </div>
                </div>
                <div class="modal-body" id="conteudoCadastro">
                    <div id="formCadastro">
                        <form #f="ngForm">
                            <fieldset>
                                <div class="label-float">
                                    <input class="input-login" id="emailCadastro" [(ngModel)]="detalhe.email"
                                        placeholder="E-mail" name="email">
                                    <label>Seu E-mail</label>
                                </div>
                                <div class="label-float">
                                    <input class="input-login" id="senhaCadastro" [(ngModel)]="detalhe.senha"
                                        type="password" placeholder="Digite sua senha" name="senha">
                                    <label>Crie uma senha</label>
                                </div>
                                <br>
                            </fieldset>
                            <mat-toolbar class="form-buttons">
                                <mat-toolbar-row>
                                    <button class="btnLogin" id="myBtn2" (click)="cadastrar(f)"
                                        style="margin-top: 0px">Cadastrar</button>
                                </mat-toolbar-row>
                            </mat-toolbar>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>