<!-- Login Page -->
<!-- <script>
    function logar() {
        pass = document.getElementById("senhaLogin").value;
        telamodal = document.getElementById("modal-login");
        if (pass == 'escudodomestre') {
            //desaparece tela
            alert('Bem vindo');
            telamodal.style.display = "none";
        } else {
            alert('Senha Incorreta');
            document.getElementById("senhaLogin").value = '';
        }
    }

    function cadastrar() {
        senhaCad = document.getElementById("senhaCadastro").value;
        emailCad = document.getElementById("emailCadastro").value;
        telamodal = document.getElementById("modal-login");
        if (senhaCad != '' && emailCad != '') {
            //desaparece tela
            alert('Cadastro enviado. Aguarde o e-mail de confirmação para acessar o sistema.');
            document.getElementById("senhaCadastro").value = '';
            document.getElementById("emailCadastro").value = '';
            document.getElementById("senhaLogin").value = '';
            document.getElementById("emailLogin").value = '';
            trocaAbaLogin('abaLoginBtn', 'conteudoLogin');
        } else {
            alert('Preencha os campos corretamente');
            document.getElementById("senhaCad").value = '';
            document.getElementById("emailCad").value = '';
        }
    }

    function trocaAbaLogin(aba, conteudo) {
        let abaAtiva = document.getElementById(aba);
        let conteudoAtivo = document.getElementById(conteudo);

        //apagando tudo
        document.getElementById("abaLoginBtn").style.background = "rgba(0, 0, 0, 0.623)";
        document.getElementById("abaCadastroBtn").style.background = "rgba(0, 0, 0, 0.623)";
        document.getElementById("senhaCadastro").value = '';
        document.getElementById("emailCadastro").value = '';
        document.getElementById("senhaLogin").value = '';
        document.getElementById("emailLogin").value = '';

        document.getElementById("conteudoLogin").style.display = "none";
        document.getElementById("conteudoCadastro").style.display = "none";

        //mostrando apenas o correto
        abaAtiva.style.background = "rgba(14, 14, 14, 0.623)";
        conteudoAtivo.style.display = "block";

    }

    let camposenha = document.getElementById("senhaLogin");

    camposenha.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("myBtn").click();
        }
    });

</script> -->


<div class="modal fade show" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="logoInicio">
                <img src="logo.png" id="logoInicial">
            </div>

            <!-- Menu de Abas -->
            <div class="abaLogin">
                <ul class="abasLogin">
                    <li class="aba" id="abaLogin-1">
                        <button id="abaLoginBtn" onclick="trocaAbaLogin('abaLoginBtn','conteudoLogin')">Login</button>
                    </li>
                    <li class="aba" id="abaLogin-2">
                        <button id="abaCadastroBtn"
                            onclick="trocaAbaLogin('abaCadastroBtn','conteudoCadastro')">Cadastro</button>
                    </li>
                </ul>
                <div class="modal-body" id="conteudoLogin">
                    <div id="formLogin">
                        <form #f="ngForm">
                            <fieldset>
                                <div class="label-float">
                                    <input class="input-login" id="emailLogin" [(ngModel)]="detalhe.email"
                                        placeholder="E-mail" name="email">
                                    <label>E-mail</label>
                                </div>
                                <div class="label-float">
                                    <input class="input-login" id="senhaLogin" [(ngModel)]="detalhe.senha" type="password" placeholder="Digite sua senha" name="senha">
                                    <label>Senha</label>
                                </div>
                                <br>
                            </fieldset>
                            <mat-toolbar class="form-buttons">
                                <mat-toolbar-row>
                                    <button class="btnLogin" id="myBtn1" (click)="logar(f)"
                                        style="margin-top: 0px">Entrar</button>
                                </mat-toolbar-row>
                            </mat-toolbar>
                        </form>
                    </div>
                </div>
                <div class="modal-body" id="conteudoCadastro">
                    <div id="formCadastro">
                        <form #f="ngForm">
                            <fieldset>
                                <div class="label-float">
                                    <input class="input-login" id="emailCadastro" [(ngModel)]="detalhe.email"
                                        placeholder="E-mail" name="email">
                                    <label>Seu E-mail</label>
                                </div>
                                <div class="label-float">
                                    <input class="input-login" id="senhaCadastro" [(ngModel)]="detalhe.senha"
                                        type="password" placeholder="Digite sua senha" name="senha">
                                    <label>Crie uma senha</label>
                                </div>
                                <br>
                            </fieldset>
                            <mat-toolbar class="form-buttons">
                                <mat-toolbar-row>
                                    <button class="btnLogin" id="myBtn2" (click)="cadastrar(f)"
                                        style="margin-top: 0px">Cadastrar</button>
                                </mat-toolbar-row>
                            </mat-toolbar>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>