<button mat-button [matMenuTriggerFor]="menu" #state="matMenuTrigger">
   <mat-icon *ngIf="! state.menuOpen">menu</mat-icon>
   <mat-icon *ngIf="state.menuOpen">close</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <!-- <a mat-menu-item [routerLink]="['/atributo']">Atributo</a>
  <a mat-menu-item [routerLink]="['/conhecimento']">Conhecimento</a>
  <a mat-menu-item [routerLink]="['/detalhe']">Detalhe</a> -->
  <a mat-menu-item [routerLink]="['/ficha']">Fichas</a>
  <a mat-menu-item [routerLink]="['/habilidade']">Mapa</a>
  <a mat-menu-item [routerLink]="['/pericia']">Livros</a>
  <!-- <a mat-menu-item [routerLink]="['/talento']">Talento</a>   -->
</mat-menu>