<h1>{{ title }}</h1>
<div class="responsiveTable">
    
</div>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
    <mat-form-field>
        <input matInput placeholder="Título do Livro" required [(ngModel)]="pericia.titulo" name="titulo">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Insira URL do fliphtml5" required [(ngModel)]="pericia.url" name="url">
    </mat-form-field>


        <ng-container matColumnDef="salvar">
            <th mat-header-cell *matHeaderCellDef> Salvar </th>
            <td mat-cell *matCellDef="let livro">
                <a mat-raised-button color="accent" (click)="salvar(livro._id)">
                    <mat-icon>save</mat-icon>
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="excluir">
            <th mat-header-cell *matHeaderCellDef> Excluir </th>
            <td mat-cell *matCellDef="let livro">
                <button mat-raised-button color="warn" (click)="excluir(livro._id)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- <mat-form-field>
        <input matInput placeholder="URL do livro" [(ngModel)]="pericia.url" name="url">
    </mat-form-field> -->

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">
                Salvar
            </button>
            <button mat-raised-button type="button" (click)="voltar(f)">
                Voltar
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

</form>